[submodule "antigravity-awesome-skills"]
	path = antigravity-awesome-skills
	url = https://github.com/sickn33/antigravity-awesome-skills.git
[submodule "awesome-copilot"]
	path = awesome-copilot
	url = https://github.com/github/awesome-copilot.git
[submodule "google-skills"]
	path = google-skills
	url = https://github.com/google/skills.git
[submodule "anthropics-skills"]
	path = anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "gitlab-cli-skills"]
	path = gitlab-cli-skills
	url = https://github.com/vince-winkintel/gitlab-cli-skills.git
[submodule "team-agent-skills"]
	path = team-agent-skills
	url = https://github.com/iced-tea-relax/team-agent-skills.git
